.eduQBtn div{
    width: 180px;
    padding: 10px;
    border: 7px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: #898989;
    background-color: #BAE2FF;
    font-family: 'yg-jalnan';
    font-size: 24px;
    cursor: pointer;
    position: absolute;
}
.eduQBtn div.active{
    color: var(--font-black);
    background-color: var(--yellow);
}
.basicQ{
    top: 5%;
    left: 52%;
}
.basicQ::after{
    content: "";
    width: 30px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    right: -20%;
}
.deepQ{
    top: 5%;
    right: 28%;
}


/* 문제 */
.eduArrowWrap img{
    width: 129px;
    position: absolute;
    top: 50%;
}
.eduLeftArrow{
    left: 3%;
}
.eduRightArrow{
    right: 2%;
}
.scoreAnswer{
    width: 100px;
    left: calc(10% - 30px);
    position: absolute;
    display: none;
}
.scoreAnswer.on{
    display: block;
}
.scoreWrong{
    top: 22%;
    left: calc(10% - 30px);
    position: absolute;
    display: none;
}
.scoreWrong.on{
    display: block;
}
.eduUnitL>h1{
    font-size: 2.1vw;
    word-break: keep-all;
}
.eduUnitR{
    flex-direction: column;
    justify-content: space-between;
}
.eduAnswer{
    word-break: keep-all;
}
.eduAnswer>h1{
    padding-bottom: 30px;
    font-size: 2.1vw;
}
.eduAnswer input{
    width: calc(100% - 100px);
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: 700;
    background-color: var(--line-grey);
}
.eduAnswer>div{
    align-items: center;
    gap: 10px;
}
.eduAnswer>div p{
    font-size: 40px;
    font-weight: 700;
}
.eduAnswer>div:nth-child(2){
    padding-bottom: 35px;
}
.eduSubBtn{
    justify-content: center;
    gap: 40px;
}
.eduSubBtn>div{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.eduAskWrap>img{
    width: 50px;
}
.checkWrap>img{
    width: 50px;
}
.commenWrap>img{
    width: 50px;
}
.eduSubBtn h3{
    font-family: 'yg-jalnan';
    font-size: 20px;
    color: #fff;
}
.eduAskWrap>h3{
    -webkit-text-stroke: 1px #FF8296;
    text-shadow: -1px 2px #FF8296, 2px 1px #FF8296, 1px 2px #FF8296, 2px -1px #FF8296;
}
.hintWrap>h3{
    -webkit-text-stroke: 1px #F8CF03;
    text-shadow: -1px 2px #F8CF03, 2px 1px #F8CF03, 1px 2px #F8CF03, 2px -1px #F8CF03;
}
.checkWrap>h3{
    -webkit-text-stroke: 1px #CD2D2D;
    text-shadow: -1px 2px #CD2D2D, 2px 1px #CD2D2D, 1px 2px #CD2D2D, 2px -1px #CD2D2D;
}
.commenWrap>h3{
    -webkit-text-stroke: 1px #1A75D8;
    text-shadow: -1px 2px #1A75D8, 2px 1px #1A75D8, 1px 2px #1A75D8, 2px -1px #1A75D8;
}


/* 채점 팝업 */
.eduPopUp{
    width: 325px;
    padding: 15px 30px;
    border-radius: 20px;
    background-color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}
.eduPopUp.on{
    display: block;
}
.shadowBox{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.shadowBox.shadow{
    display: block;
}
.eduCloseBtn{
    width: 35px;
    height: 35px;
    float: right;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    background-color: #FF8296;
    cursor: pointer;
}
.eduCloseBtn>img{
    width: 25px;
    height: 25px;
}
.eduPopUp>h2{
    margin: 45px 0;
    font-size: 23px;
    font-family: 'yg-jalnan';
}
.eduPopBtn{
    gap: 10px;
    justify-content: center;
}
.eduPopBtn>button{
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.eduCancleBtn{
    background-color: #A1A1A1;
}
.eduGradeBtn{
    background-color: #FF8296;
}

/* 힌트보기 */
.hintBubble {
    width: 300px;
    height: 150px;
    background-image: url(../../../img/bubble.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 180px;
    padding: 30px 10px 0;
    opacity: 0;
    transition: all 0.5s;
}
.hintBubble.active {
    opacity: 1;
}

.hintBubble p {
    width: 220px;
}
.hintBubble img{
    transform: scale(0.6);
    position: absolute;
    bottom: 5px;
    right: 0;
}