.eduHelpPopWrap{
    position: absolute;
    top: 0; left: 0;
    z-index: 5;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.eHPopClose{
    cursor: pointer;
    position: absolute;
    width: 80px; height: 80px;
    top: 4%; right: 3%;
}
.eHPopClose>img{
    width: 100%; height: 100%;
}
.eHPop{
    width: 85%; height: 85%;
    background-color: #fff;
    border-radius: 20px;
    border: 12px solid #7ED07C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eHHeader{
    width: 100%;
    border-bottom: 12px solid #7ED07C;
}
.eHHeader>ul{
    display: flex;
    flex-wrap: wrap;
}
.eHHeader>ul>li{
    width: 20%; height: 10%;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.eHHeader>ul>li>p{
    width: 90%; height: 80%;
    font-size: max(1.3rem, 1.65vw);
    border-radius: 20px;
    padding: 15px 0;
}
/* .eHNavColor{
    background-color: var(--yellow);
} */

.eHInfo{
    width: 95%;
    height: 85%;
}
.eHInfo .swiper {
    width: 100%; height: 100%;
}
.eHInfo .swiper-slide {
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eHInfo .swiper-slide img {
    display: block;
    width: 70%; height: 80%;
}
  