.eduQBtn div{
    width: 10%;
    padding: 10px;
    border: 7px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    color: #898989;
    background-color: #BAE2FF;
    font-family: 'yg-jalnan';
    font-size: 1.4vw;
    cursor: pointer;
    position: absolute;
}
.eduQBtn div.active{
    color: var(--font-black);
    background-color: var(--yellow);
}
.basicQ{
    top: 5%;
    right: 760px;
}
.basicQ::after{
    content: "";
    width: 30px;
    height: 7px;
    background-color: #fff;
    position: absolute;
    top: 45%;
    right: -20%;
}
.deepQ{
    top: 5%;
    right: 540px;
}


/* 문제 */
.eduArrowWrap img{
    width: 129px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}
.eduLeftArrow{
    left: 3%;
}
.eduRightArrow{
    cursor: pointer;
    right: 2%;
}
.scoreAnswer{
    width: 100px;
    left: calc(10% - 50px);
    position: absolute;
    display: none;
}
.scoreAnswer.on{
    display: block;
}
.scoreWrong{
    left: calc(10% - 50px);
    position: absolute;
    display: none;
}
.scoreWrong.on{
    display: block;
}
.eduUnitL>h1{
    font-size: 2.1vw;
    word-break: keep-all;
}
.eduUnitR{
    flex-direction: column;
    justify-content: space-between;
}
.eduAnswer{
    word-break: keep-all;
}
.eduAnswer>h1{
    padding-bottom: 30px;
    font-size: 2.1vw;
}
.eduAnswer input{
    width: calc(100% - 100px);
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 40px;
    font-weight: 700;
    background-color: var(--line-grey);
}
.eduAnswer>div{
    align-items: center;
    gap: 10px;
}
.eduAnswer>div p{
    font-size: 40px;
    font-weight: 700;
}
.eduAnswer>div:nth-child(2){
    padding-bottom: 35px;
}
.eduSubBtn{
    justify-content: center;
    gap: 40px;
}
.eduSubBtn>div{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.eduAskWrap>img{
    width: 50px;
}
.checkWrap>img{
    width: 50px;
}
.commenWrap>img{
    width: 50px;
}
.eduSubBtn h3{
    font-family: 'yg-jalnan';
    font-size: 20px;
    color: #fff;
}
.eduAskWrap>h3{
    -webkit-text-stroke: 1px #FF8296;
    text-shadow: -1px 2px #FF8296, 2px 1px #FF8296, 1px 2px #FF8296, 2px -1px #FF8296;
}
.hintWrap>h3{
    -webkit-text-stroke: 1px #F8CF03;
    text-shadow: -1px 2px #F8CF03, 2px 1px #F8CF03, 1px 2px #F8CF03, 2px -1px #F8CF03;
}
.checkWrap>h3{
    -webkit-text-stroke: 1px #CD2D2D;
    text-shadow: -1px 2px #CD2D2D, 2px 1px #CD2D2D, 1px 2px #CD2D2D, 2px -1px #CD2D2D;
}
.commenWrap>h3{
    -webkit-text-stroke: 1px #1A75D8;
    text-shadow: -1px 2px #1A75D8, 2px 1px #1A75D8, 1px 2px #1A75D8, 2px -1px #1A75D8;
}


/* 채점 팝업 */
.eduPopUp{
    width: 325px;
    padding: 15px 30px;
    border-radius: 20px;
    background-color:#fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: none;
}
.eduPopUp.on{
    display: block;
}
.shadowBox{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.shadowBox.shadow{
    display: block;
}
.eduCloseBtn{
    width: 35px;
    height: 35px;
    float: right;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    background-color: #FF8296;
    cursor: pointer;
}
.eduCloseBtn>img{
    width: 25px;
    height: 25px;
}
.eduPopUp>h2{
    margin: 45px 0;
    font-size: 23px;
    font-family: 'yg-jalnan';
}
.eduPopBtn{
    gap: 10px;
    justify-content: center;
}
.eduPopBtn>button{
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.eduCancleBtn{
    background-color: #A1A1A1;
}
.eduGradeBtn{
    background-color: #FF8296;
}

/* 힌트보기 */
.hintBubble {
    width: 300px;
    height: 150px;
    background-image: url(../../../assets/img/bubble.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 180px;
    padding: 30px 15px 0;
    display: none;
}
.hintBubble.active {
    display: block;
}
.hintBubble p {
    width: 200px;
}
.hintBubble img{
    transform: scale(0.6);
    position: absolute;
    bottom: 5px;
    right: 0;
}
.eduPagenation{
    width: 140px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px 10px;
    border: 7px solid #fff;
    border-radius: 50px;
    background-color: #BAE2FF;
    text-align: center;
    font-size: 20px;
    font-family: 'yg-jalnan';
}

@media screen and (max-width: 1919px){
    .hintBubble {
        transform: scale(0.9);
        bottom: 200px;
    }
}

@media screen and (max-width: 1440px){
    .scoreAnswer{
        top: 190px;
        left: calc(10% - 90px);
    }
    .scoreWrong{
        top: 190px;
        left: calc(10% - 90px);
    }
    .eduAnswer{
        padding-bottom: 50px;
    }
    .hintBubble {
        bottom: 220px;
    }
}


@media screen and (max-width: 1350px){
    .eduTodaySec.mathQ{
        height: 100%;
        padding-bottom: 10px;
    }
    .eduUnitWrap{
        position: relative;
    }
    .eduArrowWrap img{
        width: 70px;
        bottom: -5%;
        transform: translateY(0);
    }
    .eduLeftArrow{
        left: 30%;
    }
    .eduRightArrow{
        right: 30%;
    }
    .scoreAnswer{
        top: 40px;
    }
    .scoreWrong{
        top: 30px;
        left: 30px;
    }
    .eduAnswer{
        margin: 0 auto;
    }
    .eduAnswer>h1{
        text-align: center;
    }
    .eduAnswer input{
        width: 100%;
        font-size: 2.1vw;
    }
    .eduPagenation{
        margin-top: 0;
    }

    .hintBubble {
        bottom: 140px;
    }
}

@media screen and (max-width: 1024px){
    .scoreAnswer{
        width: 10%;
    }
    .scoreWrong{
        width: 8%;
        top: 40px;
    }
}

@media screen and (max-width: 960px){
    .scoreAnswer{
        left: 30px
    }
}

@media screen and (max-width: 780px){
    .eduArrowWrap img{
        width: 50px;
        bottom: -4%;
    }
    .eduLeftArrow{
        left: 20%;
    }
    .eduRightArrow{
        right: 20%;
    }
    .eduSubBtn h3{
        font-size: 3vw;
    }
    .hintBubble {
        transform: scale(0.8);
        padding-top: 40px;
        bottom: 140px;
    }
    .hintBubble p{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px){
    .eduUnitL>h1{
        font-size: 4vw;
    }
    .eduAnswer>h1{
        font-size: 4vw;
    }
    .eduAnswer>div p{
        font-size: 4vw;
    }
    .eduAnswer input{
        font-size: 4vw;
    }
    .eduPagenation{
        width: 100px;
        font-size: 3vw;
    }
    .scoreAnswer{
        top: 50px;
    }
    .scoreWrong{
        width: 10%;
        top: 50px;
    }
}

@media screen and (max-width: 450px){
    .hintBubble {
        bottom: 120px;
    }
}

@media screen and (max-width: 360px){
    .scoreAnswer{
        top: 55px;
        left: 40px;
    }
    .scoreWrong{
        left: 40px;
    }
    .hintBubble {
        bottom: 130px;
    }
}