.eduHelpPopWrap{
    position: absolute;
    top: 0; left: 0;
    z-index: 5;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.eHPopClose{
    cursor: pointer;
    position: absolute;
    width: 80px; height: 80px;
    top: 4%; right: 3%;
}
.eHPopClose>img{
    width: 100%; height: 100%;
}
.eHPop{
    width: 85%; height: 82%;
    background-color: #fff;
    border-radius: 20px;
    border: 12px solid #7ED07C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.eHHeader{
    width: 100%;
    border-bottom: 12px solid #7ED07C;
}
.eHHeader>ul{
    display: flex;
    flex-wrap: wrap;
}
.eHHeader>ul>li{
    width: 20%; height: 10%;
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}
.eHHeader>ul>li>p{
    cursor: pointer;
    width: 90%; height: 80%;
    font-size: max(1.3rem, 1.65vw);
    border-radius: 20px;
    padding: 15px 0;
}
.eHNavColor{
    background-color: var(--yellow);
}

.eHInfo{
    width: 95%;
    height: 85%;
}
.eHInfo .swiper {
    width: 100%; height: 100%;
    text-align: center;
    position: relative;
}
.eHInfo .swiper-wrapper{
    align-items: center;
}
.eHInfo .swiper-slide {
    width: 100%; height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eHInfo .swiper-slide img {
    display: block;
    width: 65%; height: 100%;
    object-fit: contain;
}
.eHInfo .swiper-button-next{
    width: 100px; height: 80px;
    background-image: url(../../../assets/img/icon/right-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 3px 1px black);
}
.eHInfo .swiper-button-next:after{
    display: none;
}
.eHInfo .swiper-button-prev{
    width: 100px; height: 80px;
    background-image: url(../../../assets/img/icon/left-arrow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: drop-shadow(0.5px 3px 1px black);
}
.eHInfo .swiper-button-prev:after{
    display: none;
}
.eHInfo .swiper-pagination-fraction{
    width: 13%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--yellow);
    border-radius: 50px;
    border: 7px solid #fff;
    padding: 8px 0;
    filter: drop-shadow(1px 2px 2px black);
    font-family: 'yg-jalnan';
}
.eHInfo .swiper-pagination-fraction>span{
    font-family: 'yg-jalnan';
}
/* 어딘가에 오버플로우 히든이 숨어있을 것이다.. */
@media screen and (max-width : 1325px) {
    .eHPopClose{
        width: 70px; height: 70px;
        top: 2%; right: 2%;
    }
}
@media screen and (max-width : 1140px) {
    .eHHeader>ul>li{
        width: 200px;
    }
}
@media screen and (max-width : 750px) {
    .eHInfo .swiper-slide img{
        width: 90%;
    }
    .eHInfo .swiper-button-next{
        align-items: end;
        top: 89.5%;
        width: 70px;
    }
    .eHInfo .swiper-button-prev{
        align-items: end;
        top: 89.5%;
        width: 70px;
    }
    .eHInfo .swiper-pagination-fraction{
        width: 25%;
        top: 86%;
        bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eHHeader>ul>li{
        width: 150px;
    }
}
@media screen and (max-width : 590px) {
    .eHHeader>ul>li{
        width: 90px;
    }
    .eHHeader>ul>li>p{
        font-size: 0.9rem;
    }
}