.askWrap{
    width: 100%;
}
.askWrap table{
    width: 100%;
    border-top: 2px solid var(--font-black);
}

.askWrap td{
    padding: 20px 10px;
    text-align: center;
}
.askWrap tr{
    border-bottom: 1px solid var(--line-grey);
}

.askWrap .askTit{
    text-align: left;
    width: 68%;
}

.ansYet{
    background-color:var(--line-grey);
    padding: 5px 20px;
    border-radius: 5px;
}
.ansEnd{
    background-color:var(--main-blue);
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}