.subHeadWrap{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.subHeadBg{
    width: 100%;
}
.subHeadChara{
    width: 135px;
    position: absolute;
    top: 15%;
    right: 35%;
}


@media screen and (max-width: 1440px){
    
}