.subnav{
    width: 235px;
    height: 154px;
    background-color: var(--main-blue);
    border-radius: 20px;
    padding: 20px 25px;
}
.subnav p{
    font-size: 20px;
    color: #fff;
}
.subnav img{
    opacity: 20%;
    margin-left: 110px;
}
.subnavList ul{
    width: 235px;
}
.subnavList{
    margin-top: 15px;
}
.subnavList li{
    width: 235px;
    border: 1px solid var(--line-grey);
    padding: 20px;
    position: relative;
}

.subnavList li::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 20px;
    width: 10px; height: 10px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: rotate(-45deg);
}