/* 질문하기 */
.askIconWrap {
    width: 80px;
}

.askIcon {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.askIcon img {
    position: relative;
    top: 12px;
    left: 10px;
}

.askIcon h3 {
    font-family: 'yg-jalnan';
    font-size: 20px;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 1px #FF8296;
    text-shadow: -1px 2px #FF8296, 2px 1px #FF8296, 1px 2px #FF8296, 2px -1px #FF8296;
    padding-top: 10px;
}




/* 반응형 */

@media screen and (max-width : 768px) {

    .askIconWrap {
        width: 65px;
    }

    .askIcon {
        width: 65px;
        height: 65px;
    }

    .askIcon img {
        width: 50px;
        height: 50px;
        top: 7px;
        left: 7px;
    }

    .askIcon h3 {
        width: 100%;
        padding: 0;
        font-size: 16px;
    }
}