footer{
    width: 100%;
    background-color: #F0FAFF;
    font-size: 14px;
    color: var(--font-black);
}
.footerWrap{
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 180px;
}
.footerWrap img{
    width: 150px;
    height: 97px;
    filter: grayscale(100%);
}
.footerTxt span::after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    margin: 0 10px;
    background-color: var(--font-black);
}
.footerTxt ul:first-child{
    padding-bottom: 5px;
}
.footerTxt p{
    color: #7C7C7C;
}
.footerInfo{
    padding-bottom: 10px;
}