.eduSec{
    width: 100%;
    height: 100vh;
    background-image: url(../../../img/bggreen.png);
}
.eduSec h2{
    font-family: 'yg-jalnan';
}


/* eduCont */
.eduCont{
    display: grid;
    grid-template-columns: auto auto;
}
.eduCont>div{
    width: 500px;
    height: 765px;
    background-color: aqua;
}