.eduViedosWrap {
    background-image: url(../../../img/bgpink.png);
}

.eduViedosWrap>h2 {
    font-family: 'yg-jalnan';
    text-align: center;
    font-size: 48px;
    color: white;
    -webkit-text-stroke: 1px #C73395;
    text-shadow: -1px 3px #C73395, 3px 1px #C73395, 1px 3px #C73395, 3px -1px #C73395;
}

.eduViedos {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.eduViedosCont {
    width: 600px;
}

.eduViedosCont img {
    width: 40%;
    height: 150px;
    border-radius: 20px 0 0 20px;
}

.eduViedosCont ul {
    width: 60%;
    background-color: var(--yellow);
    border-radius: 0 20px 20px 0;
    padding-top: 25px;
}

.eduViedosCont ul li {
    font-family: 'yg-jalnan';
    text-align: center;
    font-size: 30px;
    -webkit-text-stroke: 1px #fff;
}

@media screen and (max-width : 768px) {
    .eduViedosCont ul li {
        font-size: 24px;
    }
}