.eduProfile{
    justify-content: space-between;
}
.eduProfile h2, .eduProfile p{
    font-family: 'yg-jalnan';
}


/* 왼쪽 */
.eduPfL{
    position: relative;
}
.eduPfL>h2{
    font-size: 22px;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    position: absolute;
    top: 15px;
    left: calc(30% + 25px);
}
.eduPfL>p{
    position: absolute;
    left: calc(30% + 25px);
    bottom: calc(50% - 3px);
}


/* 오른쪽 */
.eduPfR{
    margin-right: 40px;
    gap: 18px;
    align-items: center;
}
.eduPtWrap{
    position: relative;
}
.eduPtWrap>h2{
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    font-size: 24px;
    position: absolute;
    top: 25%;
    right: 15%;
}
.eduProfile .eduCircle{
    width: 97px;
    height: 97px;
    border-radius: 50px;
    background-color: var(--yellow);
    align-items: center;
    justify-content: center;
    position: relative;
    border: 7px solid #fff;
}
.eduHelpWrap{
    cursor: pointer;
}
.eduHelpWrap>h2, .eduExitWrap>h2{
    color: #fff;
    -webkit-text-stroke: 1px #50834F;
    text-shadow: -1px 1px #50834F, 1px 1px #50834F, 1px 1px #50834F, 1px -1px #50834F;
    font-size: 24px;
    position: absolute;
    z-index: 1;
    top: 11%;
}
.eduHelpWrap>h2{
    right: 168px;
}
.eduExitWrap>h2{
    right: 52px;
}
.helpBtn{
    width: 71px;
    padding-bottom: 10px;
}
.exitBtn{
    width: 82px;
    padding-bottom: 10px;
}


@media screen and (max-width: 1280px){
    .eduProfile .eduCircle{
        border: 6px solid #fff;
    }
}

@media screen and (max-width: 1024px){
    .eduProfile .eduCircle{
        width: 100%;
        height: auto;
    }
    .eduPfL>h2{
        font-size: 20px;
        top: 5%;
    }
    .eduPfL>p{
        bottom: calc(50% - 5px);
    }
    .helpBtn{
        width: 55px;
        padding-bottom: 0;
    }
    .exitBtn{
        width: 55px;
        padding-bottom: 0;
    }
    .eduHelpWrap>h2, .eduExitWrap>h2{
        font-size: 20px;
    }
    .eduHelpWrap>h2{
        top: 82px;
        right: 130px;
    }
    .eduExitWrap>h2{
        top: 82px;
        right: 43px;
    }
    .eduPfL img{
        width: 380px;
    }
    .eduPtWrap img{
        width: 150px;
    }
    .eduPtWrap>h2{
        font-size: 18px;
    }
}

@media screen and (max-width : 768px){
    .eduPtWrap>h2{
        font-size: min(1rem, 3vw);
    }
    .eduHelpWrap>h2, .eduExitWrap>h2{
        font-size: 20px;
    }
    .eduHelpWrap>h2{
        top: 75px;
        right: 110px;
    }
    .eduExitWrap>h2{
        top: 75px;
        right: 23px;
    }
    .eduPfL>h2{
        font-size: min(2rem, 2vw);
        top: 15%;
    }
    .eduPfL>p{
        font-size: min(2rem, 2vw);
        bottom: calc(40% - 3px);
    }
    .eduPfL img{
        width: 100%;
    }
    .eduPfR{
        margin-right: 20px;
    }
}

@media screen and (max-width : 530px){
    .eduPtWrap img{
        width: 100%;
    }
    .eduPtWrap>h2{
        font-size: min(2rem, 2vw);
        top: 30%;
        right: 10%;
    }
    .eduHelpWrap>h2, .eduExitWrap>h2{
        top: 55px;
        font-size: 3vw;
    }
    .eduHelpWrap>h2{
        right: 80px;
    }
    .eduExitWrap>h2{
        right: 20px;
    }
    .helpBtn{
        width: 30px;
    }
    .exitBtn{
        width: 30px;
    }
}

@media screen and (max-width : 430px){
    .eduHelpWrap>h2{
        top: 50px;
        right: 86px;
    }
    .eduExitWrap>h2{
        top: 50px;
        right: 24px;
    }
}