@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: 'yg-jalnan'; */

:root {
  --main-blue: #62C3CA;
  --sub-blue: #0C8E97;
  --line-grey: #dddddd;
  --bg-grey: #EAE9E9;
  --yellow: #F8CF03;
  --font-black: #222222;
  @media screen and (max-width:360px) {
    --txt-font-size : calc( 100vw * (16 / 400));
    --detail-tit-font : calc( 100vw * (18 / 400));
    --small-font-size : calc( 100vw * (20 / 400));
  }
  
}

*{
  font-family: "Noto Sans KR", sans-serif;
}

.w1440{
  width: 1440px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

@media screen and (max-width : 1440px) {
  .w1440{
    width: calc(100% - 60px);
  }

}
@media screen and (max-width : 768px) {
  .w1440{
    width: calc(100% - 30px);
  }
  
}
