*{
   padding: 0; margin: 0; box-sizing: border-box; font-size: 100%;
    line-height: 1.5;}
    a{text-decoration: none;}
    ul, li, ol{list-style: none;}
    table {
       border-collapse: collapse;
       border-spacing: 0;
    }
    /* reset css */